@charset "UTF-8"

 * {
    font-family:'Times New Roman', Times, serif ;
    height: 100%;
 }

 p {
    text-align: center;
 }

 body {
    background-image: linear-gradient(to top,#b5c5e2,#99b6a7);
 }

 main {
    background-color: aliceblue;
    width: 600px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(17, 68, 43, 0.521); 
    padding: 10px;
    text-align: center;
    margin: auto;
 }

 h1 {
    color: #48685d;
    text-shadow: 1px 1px 3px rgb(39, 73, 57);
 }

 h2 {
    color: #112918;
 }
 